body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fcfcfc; 
}

#game-container {
    text-align: center;
    padding: 30px; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px rgba(255, 3, 3, 0.3);
    background-color: #6cb61d; 
}
#game-container button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #760a40; 
    border: none;
    color: white;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
   
}

